<a href="https://colab.research.google.com/github/deni4ever/deni4ever/blob/main/Tutorial_1_AlgorithmsAndDataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, STUDENTS OF ALGORITHMS AND DATA STRUCTURES")

Hello, STUDENTS OF ITWB2043  MC-O31 ALGORITHMS AND DATA STRUCTURES

In [ ]:
a=10

print(a, type(a)) #type

b=int(-20)
print(b, type(b))

10 <class 'int'>
-20 <class 'int'>

In [ ]:
name='jhon'
print('name: ', name,', data_type: ', type(name))

name2=str('jhonson')
print('name: ', name2,', data_type: ', type(name2))

name:  jhon , data_type:  <class 'str'>
name:  jhonson , data_type:  <class 'str'>

In [ ]:
first_name = 'data'
last_name = 'structures'

print(first_name+' '+last_name)

data structures

In [1]:
2+3/4, 'a'+'b'

(2.75, 'ab')

In [ ]:
a_bool=True; b_bool=False
print(a_bool, b_bool)

print(type(a_bool), type(b_bool))

c=0
print(type(c))
print(c==a_bool, c==b_bool)  #c=0, b_bool=False

c_bool=bool(0)
print('\n', type(c_bool))
print(c==c_bool, c_bool==b_bool)

True False
<class 'bool'> <class 'bool'>
<class 'int'>
False True

 <class 'bool'>
True True

In [ ]:
a_float = 2.0
b_float = 0.13

print(type(a_float), type(b_float))

c_float = float(2)

print(type(c_float))

<class 'float'> <class 'float'>
<class 'float'>

In [ ]:
"""
block of comments
fd;lfkd;lfkd
"""
print("Hello, STUDENTS OF ITWB2043  MC-S2 ALGORITHMS AND DATA STRUCTURES")

Hello, STUDENTS OF ITWB2043  MC-S2 ALGORITHMS AND DATA STRUCTURES

In [ ]:
'''
block of comments
'''
print("Hello, STUDENTS OF ITWB2043  MC-S2 ALGORITHMS AND DATA STRUCTURES")

Hello, STUDENTS OF ITWB2043  MC-S2 ALGORITHMS AND DATA STRUCTURES

In [ ]:
courses = ['algorithms', 'calculus', 'english']
print(courses)
print(type(courses), ', len : ', len(courses))

['algorithms', 'calculus', 'english']
<class 'list'> , len :  3

In [ ]:
print(courses[0], courses[2]) #courses[0]  , left->right

print(courses[-3], courses[-1])  #, right->left

algorithms english
algorithms english

In [ ]:
print(courses[0:2])  # [0], [1]  ,
print(courses[0:-2])

['algorithms', 'calculus']
['algorithms']

In [ ]:
courses_2 = ['algorithms', 'calculus', 'english', 'algorithms']
courses_2

['algorithms', 'calculus', 'english', 'algorithms']

In [ ]:
courses_set = set(['algorithms', 'calculus', 'english', 'algorithms'])
print(courses_set, type(courses_set))

{'algorithms', 'english', 'calculus'} <class 'set'>

In [ ]:
courses_tuple = tuple(courses_2)
print(courses_tuple)
print(type(courses_tuple))

('algorithms', 'calculus', 'english', 'algorithms')
<class 'tuple'>

In [ ]:
dictionary = dict({0:'a', 1:'b'}) #key (unique)-> value
print(type(dictionary))
print(dictionary.keys())
print(dictionary.values())

print(dictionary)

<class 'dict'>
dict_keys([0, 1])
dict_values(['a', 'b'])
{0: 'a', 1: 'b'}

In [ ]:
password_dictionary = {'user_1_password':'abv', 'user_2_password':8473}
print(type(password_dictionary))
print(password_dictionary)

<class 'dict'>
{'user_1_password': 'abv', 'user_2_password': 8473}

print(password_dictionary.keys())
print(password_dictionary.values())

In [ ]:
dict2 = {'first_name':['a', 'b', 'c'], 'last_name':['x', 'y', 'z']}
print(dict2)

{'first_name': ['a', 'b', 'c'], 'last_name': ['x', 'y', 'z']}

**IMMUTABLE   VS   MUTABLE**

In [ ]:
string_immutable = 'jhonson'

print(string_immutable)
print(string_immutable[3])

string_immutable[3] = 'y'

jhonson
n

TypeError: ignored

In [ ]:
set_immutable = set([1,2,3,4])

print(set_immutable)

#print(set_immutable[2])
set_immutable[2]=4

{1, 2, 3, 4}

TypeError: ignored

In [ ]:
set_immutable[2] = 9

TypeError: ignored

In [ ]:
courses_tuple2 = (('database', 'AI'))
print(courses_tuple2)

print(type(courses_tuple2))

courses_tuple2[1] = 'NLP'

('database', 'AI')
<class 'tuple'>

TypeError: ignored

In [ ]:
courses, type(courses)

(['algorithms', 'calculus', 'english'], list)

In [ ]:
courses[0] = 'AI'
print(courses)

['AI', 'calculus', 'english']


**CONDITIONAL STATEMENTS**

In [ ]:
{}, Indentation

In [ ]:
a = 2
b = 5

if b > a:  #;
  print("b is greater than a")  # indentation instead of {}
elif b < a:  #else if
  print("b is less than a")
else:    #else
  print("b is equal to a")

b is greater than a

In [ ]:
x = 1
while x < 3:
  print('x: ', x)
  x = x+1

x:  1
x:  2

In [ ]:
string_immutable = 'jhonson'
'c' in string_immutable, 'n' in string_immutable

(False, True)

In [ ]:
courses

['AI', 'calculus', 'english']

In [ ]:
for c in courses: #['AI', 'calculus', 'english']
  print(c)

AI
calculus
english

In [ ]:
for i in range(len(courses)):  #len(courses)->3, range(3)
  print(i, courses[i])

0 AI
1 calculus
2 english

:
**Excercises**

In [11]:
#create a list of vegetables
Vegetables = ['tomato', 'cucumber', 'carrot' ,  'broccoli ', 'cabbage' , 'oninon'  , ' potato' , ]

print(Vegetables)
print(type(Vegetables))

['tomato', 'cucumber', 'carrot', 'broccoli ', 'cabbage', 'oninon', ' potato']
<class 'list'>
7

In [16]:
#create a list of subjects for specific sections (use dictionary, use list as values and section as keys)

Subjects  = [ "Math" , "Physics" , "chemistry" , "Geography" ,  "History", "Biology" , " ICT" ]
print(Subjects)
print(type(Subjects))
Dictionary = dict({ 23 : "physics" , 24 : "History" , 45 :"chemistry",  67 : "Geography" , 11 :"ICT",  45 : "Biology" })
print(Dictionary)
print(type(Dictionary))
print(Dictionary.keys())
print(Dictionary.values())

['Math', 'Physics', 'chemistry', 'Geography', 'History', 'Biology', ' ICT']
<class 'list'>
{23: 'physics', 24: 'History', 45: 'Biology', 67: 'Geography', 11: 'ICT'}
<class 'dict'>
dict_keys([23, 24, 45, 67, 11])
dict_values(['physics', 'History', 'Biology', 'Geography', 'ICT'])

{23: 'physics', 24: 'History', 45: 'Biology', 67: 'Geography', 11: 'ICT'}
<class 'dict'>
dict_keys([23, 24, 45, 67, 11])
dict_values(['physics', 'History', 'Biology', 'Geography', 'ICT'])

In [23]:
#create a list of numbers and print the smallest number in the list

List_of_numbers = [266,223,422,52,633,777,83,93,1220]
print(List_of_numbers)
print(type(List_of_numbers))
print(min(List_of_numbers))

[266, 223, 422, 52, 633, 777, 83, 93, 1220]
<class 'list'>
52

In [22]:
#create a list of numbers and print the largest number in the list

List_of_numbers = [90,24,34,55,236,237,24228,29,1110]
print(List_of_numbers)
print(type(List_of_numbers))
print(max(List_of_numbers))

[90, 24, 34, 55, 236, 237, 24228, 29, 1110]
<class 'list'>
24228